form{
    padding: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 80%;

    div{
        display: flex;
        align-items: center;
        gap: 10px;
        input{
            width: 30%;

        }
        label{
            width: 50px;
        }
    }
}