div{
    width: 100%;
    background-color: black;
    height: 3rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    a{
        font-size: 22px;
        color: aliceblue;
    }
}